body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #D6FF6B; /* Цвет фона веб-страницы */
    color: #FFFFFF; /* Цвет основного текста */
}
h1 {
    color: #5988FF; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}